

.menu--part {
    
    >h2 {
        animation: fadeInUp 2.25s ease-out both;
    }

    @for $i from 1 through $numlayers {
        .layer:nth-child(#{$i}){
            animation: fadeInUp 1.5s 0.25s*$i ease-out both;
        }
    }

    .layer {
   
        width:100%;
        display: flex;
        border-radius: 3vw;
        cursor:pointer;
        overflow: hidden;
        margin: 4vw 0;
        box-shadow: 0 0 3vw .2vw rgba(0,0,0,0.1);

        @include tablette-only {
            border-radius: 2.7vw;
            margin: 3.5vw 0;
            box-shadow: 0 0 3vw .2vw rgba(0,0,0,0.1);
        }

        @include desktop-only {
            border-radius: 1vw;
            margin: 1.5vw 0;
            box-shadow: 0 0 1vw .1vw rgba(0,0,0,0.1);
        }

        &--plat {
            width:83%;
            border-radius: 2.2vw;
            padding: 3vw 0vw 3vw 3vw;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap; 

            @include tablette-only {
                padding: 2.2vw 0vw 1.3vw 4vw;
            }

            @include desktop-only {
                padding: 1vw 0vw 0vw 1.3vw;
            }
            

            h3 {
                font-size: 4.6vw;
                margin-bottom: 1vw;
                font-weight: 500;
                text-overflow: ellipsis;
                overflow: hidden;

                @include tablette-only {
                    font-size: 3.6vw;
                    margin-bottom: 1vw;
                }

                @include desktop-only {
                    font-size: 1.2vw;
                    margin-bottom: .1vw;
                }
            }

            p {
                opacity: .6;
                font-weight: 400;
                font-size: 3.9vw;
                text-overflow: ellipsis;
                overflow: hidden;

                @include tablette-only {
                    font-size: 3.6vw;
                    margin-bottom: 1vw;
                }

                @include desktop-only {
                    font-size: 1vw;
                }
            }
        }
        
        &--checkbox {
            transition: all 1s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $green;
            min-width:0;
            max-width:0;
        
            .fas {
                color:white;
                font-size: 5.5vw;
                transition: all 1s ease;
                transform: rotate(90deg);
                visibility: hidden;

                @include tablette-only {
                    font-size: 4.4vw;
                }

                @include desktop-only {
                    font-size: 2vw;
                }
                
            }
        }

        &:hover {
            .layer--checkbox {
                min-width:15vw;
                max-width:15vw;

                @include tablette-only {
                    max-width:13vw;
                    min-width:13vw;
                }

                @include desktop-only {
                    max-width:5vw;
                    min-width:5vw;
                }

                .fas {
                    visibility: visible;
                    transform: rotate(360deg);
                }
            }

           

        
        }

        &>p {
            font-size: 4vw;
            font-weight: 500;
            padding:10.2vw 6.5vw 0 2vw;
            z-index:2; 

            @include tablette-only {
                font-size: 3vw;
                padding:7.9vw 6.5vw 0 4vw;
            }

            @include desktop-only {
                font-size: 1.2vw;
                padding:2.35vw 3vw 0 0vw;
            }
        }
    }
}