.loading-spinner {
    position:fixed;
    height:30vw;
    width: 30vw;
    border-radius: 30vw;
    border-top: 5px solid  $purple;
    border-right: 15px solid transparent;
    z-index:999;
    left:35vw;
    top: 35vh;

    @include tablette-only {
        border-top: 2vw solid  $purple;
        border-right: 3vw solid transparent;
        left:38vw;
    }

    @include desktop-only {
        border-top: 1vw solid  $purple;
        border-right: 1.5vw solid transparent;
        height:15vw;
        width: 15vw;
        left:43vw;
    }
}



.restaurants {

    header, main, footer {
    animation: maskAll 1s;
    }
}

body {
    animation: sizeBody 1s;
}

.loading-spinner {
    animation: loadingSpinner 1s linear;
    animation-fill-mode: both;
}

