.miniature {
    width: 90vw;
    height:65vw;
    background-color: white;
    box-shadow: 0px 5px 6px .3px rgba(0,0,0,0.1);
    border-radius: 4vw;
    margin-bottom: 5vw;

    @include tablette-only {
        width: 45vw;
        height:32.5vw;
        background-color: white;
        box-shadow: 0px 5px 6px .3px rgba(0,0,0,0.1);
        border-radius: 2vw;
        margin-bottom: 2.5vw;
        margin: 2vw 1.5vw;
    }
    
    @include desktop-only {
        width: 30vw;
        height:21vw;
        flex-shrink: 0;
        background-color: white;
        box-shadow: 0px 5px 6px .3px rgba(0,0,0,0.1);
        border-radius: 2vw;
        margin: 2vw 1.2vw;
    }

    &:last-child {
        @include desktop-only {
            margin-right: 40vw;
        }
    }

    &--restaurants {

        position: relative;


        &__image {
            height: 45vw;
            background-size: cover;
            background-position: center;
            border-top-left-radius: 4vw;
            border-top-right-radius: 4vw;

            @include tablette-only {
                height: 22.5vw;
                border-top-left-radius: 2vw;
                border-top-right-radius: 2vw;
            }

            @include desktop-only {
                height: 14vw;
                border-top-left-radius: 2vw;
                border-top-right-radius: 2vw;
            }
            
        }

        &__description {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 20vw;
            padding-left: 4vw;
            padding-right: 6vw;

            @include tablette-only {
                height: 10vw;
                padding-left: 2vw;
                padding-right: 3vw;
            }

            @include desktop-only {
                height: 7vw;
                padding-left: 1.5vw;
                padding-right: 2vw;
            }

            p:first-child {
                font-size: 4.65vw;
                margin-bottom: .5vw;

                @include tablette-only {
                    font-size: 2.375vw;
                    margin-bottom: .25vw;
                } 

                @include desktop-only {
                    font-size: 1.75vw;
                    margin-bottom: .25vw;
                }
            }

            p:nth-child(2) {
                font-size: 4.2vw;
                opacity: .7;
                font-weight: 300;

                @include tablette-only {
                    font-size: 2.2vw;
                }

                @include desktop-only {
                    font-size: 1.6vw;
                }
            }
            
        }

        &[data-publication="Nouveau"] {

            &::before {
                content: attr(data-publication);
                position:absolute;
                top:5%;
                left: 73%;
                font-size:3.6vw;
                font-weight: 500;
                color: #4a8573;
                background-color: $green;
                padding: 1.25vw 3.4vw;
                border-radius: .5vw;

                @include tablette-only {
                    font-size:1.8vw;
                    padding: .625vw 1.7vw;
                    border-radius: .25vw;
                }

                @include desktop-only {
                    font-size:1.2vw;
                    padding: .35vw 1.1vw;
                    border-radius: .15vw;
                }
            }
            
        }        
        
    }

}

