                                                        /*
==============
||  COLORS  ||
==============
                                                        */
$purple: #9356DC;
$purpleLight: #ab67fe;
$pink: #FF79DA;
$pinkLight: #ff9de3;
$green : #99E2D0;