                                                        /*
==============
||  COLORS  ||
==============
                                                        */
$purple: #9356DC;
$purpleLight: #ab67fe;
$pink: #FF79DA;
$pinkLight: #ff9de3;
$green : #99E2D0;

/*
==============
||  OTHERS  ||
==============
*/

$numlayers:5;

$breakpoints: (
  mobile: 599px,
  tablette: 768px,
  desktop: 1200px
);