footer {
    background-color: #353535;
    color:white;
    padding: 6vw 7vw;
    font-weight: 500;

    @include tablette-only {
        margin-top : 6vw;
        padding: 3vw 5vw;
    }

    @include desktop-only {
        margin-top: 0;
        padding: 0vw 2vw; 
        background-color: white;
        color:#353535; 
    }

    h1 {
        font-size:4.75vw;
        font-family: 'Shrikhand', sans-serif;
        margin-bottom: 4vw;
        transition: all 1s ease-out;

        @include tablette-only {
            text-align: center;
            font-size:3.5vw;
            margin-bottom: 3vw;
            margin-top:1vw;
        }

        @include desktop-only {
            visibility: hidden;
            margin:0;
        }
    }

    .links {
        
        @include tablette-only {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        @include desktop-only {
            justify-content: space-around;
            margin:0;
            padding-bottom: .7vw;
        }

        p {
            font-size: 4vw;
            margin-bottom: 2vw;

            @include tablette-only {
                font-size: 3vw;
                margin-bottom: 3vw;
                margin-right: 5vw;
                width:40vw;

                &:nth-child(1) {order:1}
                &:nth-child(2) {order:3}
                &:nth-child(3) {order:2}
                &:nth-child(4) {order:4}
            }

            @include desktop-only {
                font-size: 1.4vw;
                margin-bottom: 0vw;
                margin-right: 2vw;
                width:inherit;

                &:nth-child(1) {order:1}
                &:nth-child(2) {order:2}
                &:nth-child(3) {order:3}
                &:nth-child(4) {order:4}
            }
            
            .fas {
                font-size: 3.5vw;
                width: 5.5vw;

                @include tablette-only {
                    font-size: 2.3vw;
                    width: 2vw;
                    margin-right: 1vw;
                }

                @include desktop-only {
                    font-size: 1.1vw;
                    width: 2vw;
                }
            }
        }

    }
}