footer {
    background-color: #353535;
    height: 53vw;
    color:white;
    padding: 5.5vw 7vw;

    h1 {
        font-size:4.75vw;
        font-weight: 500;
        font-family: "Shrikhand";
        margin-bottom: 4vw;
    }

    p {
        margin-bottom: 2vw;
        font-weight: 500;
        font-size: 4vw;

        .fas {
            font-size: 3.5vw;
            width:5.5vw;
        }
    }
}