header {

    width:100vw;   
    text-align: center;
    position: relative;

    @include desktop-only {
        display: flex;
        flex-wrap: wrap;
    }

    h1 {
 
        height: 17vw;
        line-height: 19vw;
        font-family: 'Shrikhand', sans-serif;
        font-size: 8vw;
        box-shadow: 0 .4vw .4vw rgba(0,0,0,0.08);   
        position: relative;  
        z-index:100;  

        @include tablette-only {
            height: 10vw;
            line-height: 12vw;
            font-size: 6vw;     
        }

        @include desktop-only {
            height: 8.5vw;
            line-height: 9vw;
            font-size: 5vw;
            width:87vw;
            padding-left: 13vw;
        }

        
    }

    .location {
        height: 14vw;
        opacity: .8;
        background-color: rgb(232, 232, 232);
        font-weight: 500;
        font-size: 4.6vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 4vw;
        
        @include tablette-only {
            height: 10vw;
            font-size: 3.2vw;
            padding-right: 3vw;
        }

        @include desktop-only {
            height: 8.5vw;
            font-size: 1.75vw;
            padding: 0 2vw;
            width:13vw;
            box-shadow: 0 .4vw .4vw rgba(0,0,0,0.08);   

        }
    
        .fas {
            margin-right: 2vw;

            @include tablette-only {
                margin-right: 1.5vw;
            }

            @include desktop-only {
                position:absolute;
                font-size:7vw;
                opacity: .1;
                margin:0;
            }
        }
    
        
}


}