.menu {

    padding: 8vw 0 4.5vw 0vw;
    border-radius: 10vw 10vw 0 0;
    position: relative;
    top: -15vw;
    background: white;
    display: flex;
    flex-direction: column;

    @include tablette-only {
        padding: 8vw 0 4.5vw 0vw;
    }

    @include desktop-only {
        border-radius: 0;
        padding: 0 3vw;
        padding-top:3vw;
        padding-bottom:0;
        margin-bottom: 0;
        flex-flow: row wrap;
    }

    .title {
        width:90%;
        margin: auto;
        margin-bottom: 2vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 6vw;

        @include tablette-only {
            margin-bottom: 1.5vw;
        }

        @include desktop-only {
            justify-content: center;
            padding-right: 0;
        }
        
    }

    h1 {
        font-family: 'Shrikhand', sans-serif;
        font-size: 7vw;
        font-weight: 400;

        @include tablette-only {font-size: 5vw;}
        @include desktop-only {font-size: 6vw;}
    }

    &--part {
        width:90%;
        margin: 7vw auto;

        @include tablette-only {
            margin: 4vw auto;
        }

        @include desktop-only {
            width:30%;
            margin-top:1vw;
        }

        h2 {
            font-size: 4vw;
            font-weight: 300;

            @include tablette-only {
                font-size: 3.5vw;
            }

            @include desktop-only {
                font-size: 2vw;
            }
        }

        h2::after {            
            content: "";
            display: block;
            background: $green;
            margin-top: 1vw;
            height:.7vw;
            width:10vw;

            @include tablette-only {
                height:.6vw;
                width:8vw;
            }

            @include desktop-only {
                margin-top: .2vw;
                height:.4vw;
                width:5vw;
            }
        }
    }
}

