.miniatures {
    display:flex;
    flex-flow: column wrap;
    align-items: center;

    @include tablette-only {
        flex-flow: row wrap;
        justify-content: center;
    }

    @include desktop-only {
        flex-flow: row nowrap;
        justify-content: flex-start;
        overflow-x: scroll;
        margin:auto;
        width:95%;
        position: relative;

        .miniature:first-child {
            margin-left: 0;
        }
    }
}